.privacy {
    margin: 10rem 30rem 10rem 30rem;
    text-align: justify;
}

.privacy h1 {
    font-size: 5.0rem;
    font-weight: lighter;
}

.privacy h2 {
    font-size: 3.0rem;
    font-weight: 500;
}

.privacy p {
    font-size: 2.2rem;
}

.privacy ol {
    font-size: 2.0rem;
}

.privacy .outer {
    padding-left: 5rem;
    font-weight: 900;
    margin-top: 1rem;
}

.privacy .inner {
    padding-left: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.left-list {
    margin-left: 2rem;
}

.light {
    font-weight: 100;
}

.pad {
    padding: 2rem 0 3rem 0;
}

.double-pad {
    padding: 4rem 0 4rem 0;
}

.bold {
    font-weight: 900;
}

@media (max-width: 1024px) {
    .privacy {
        margin: 0 4rem 0 4rem;
        text-align: justify;
    }
    
    .privacy h1 {
        font-size: 2.8rem;
        margin: 7rem 0 2rem 0;
    }
    
    .privacy h2 {
        font-size: 2.0rem;
        font-weight: 500;
        margin: 3rem 0 2rem 0;
    }
    
    .privacy p {
        font-size: 1.6rem;
        margin: 1rem 0 1rem 0;
    }
    
    .privacy ol {
        font-size: 1.6rem;
    }
    
    .privacy .outer {
        padding-left: 3rem;
        font-weight: 900;

    }
    
    .privacy .inner {
        padding-left: 1rem;
        font-weight: 400;

    }
    
    .pad {
        padding: 0 0 0 0;
    }
    
    .bold {
        font-weight: 900;
    }
}