/* Download.css */

.down h1 {
    font-size: 4.8rem;
    font-weight: lighter;
    margin: -10rem 0 0 10rem;
}

.down p {
    font-size: 2.0rem;
    font-weight: lighter;
    margin: 5rem 0 0 10rem;
}

.iphone {
    max-width: 250px;
    min-width: 50px;
}

.ios-badge {
    width: 185px;
    margin-top: 20px;
}

.android {
    max-width: 250px;
    min-width: 50px;

}

.android-badge {
    width: 225px;
    margin: 0 0 0 0;
}


@media (max-width: 1440px) {
    .down h1 {
        font-size: 2.8rem;
        font-weight: lighter;
        margin: 5rem 2rem 0 2rem;
    }

    .down p {
        font-size: 2.0rem;
        font-weight: lighter;
        margin: 5rem 2rem 0 2rem;
    }

    .ios-badge {
        width: 185px;

    }
    
    .android-badge {
        width: 225px;

    }
}

@media (max-width: 1024px) {
    .down h1 {
        font-size: 2.8rem;
        font-weight: lighter;
        margin: 5rem 2rem 0 2rem;
        text-align: center;
    }

    .down p {
        font-size: 2.0rem;
        font-weight: lighter;
        margin: 5rem 2rem 5rem 2rem;
        text-align: center;
    }

    .ios-badge {
        width: 185px;
        margin: 2rem 0 2rem 0;
    }
    
    .android-badge {
        width: 225px;

    }
}