/* Features.css */

.features p {
    font-size: 1.6rem;
    text-align: center;
    margin: 0 8rem 5rem 8rem;
}

.balloon {
    max-width: 85px;
    margin: 5rem 0 3rem 3rem;
}

.compass {
    max-width: 135px;
    margin: 5rem 0 3rem 0;
}

.camera {
    max-width: 175px;
    margin: 5rem 0 4rem 0;
}

.beacon {
    max-width: 250px;
    margin: 0 0 5rem 0;
}

.flare {
    max-width: 215px;
    margin: -2rem 0 0 0;
}

.heart {
    max-width: 140px;
    margin: 3rem 0 4rem 0;
}

.left-side {
    border: none;
    flex-direction: column;
    width: 100%;
    height: 100%;

    padding: 0 0 0 30%;
}

.right-side {
    border: none;
    flex-direction: column;
    width: 100%;
    height: 100%;

    padding: 0 30% 0 0;
}

@font-face {
    font-family: 'pistolettoregular';
    src: url('../../pistoletto-font/pistoletto-regular-webfont.woff2') format('woff2'),
         url('../../pistoletto-font/pistoletto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media (max-width: 1440px) {
    .features p {
        text-align: center;
    }

    .weird-balloon-p {
        font-size: 1.6rem;
        /* margin: 0 0 0 -1rem; */
    }

    .mobile-header {
        font-size: 7.0rem;
        text-align: center;
        margin: 5rem 0 0 0;
        font-family: 'pistolettoregular';
        color: #ff4b47;
        text-shadow: 2px 3px black;
    }
    
    .balloon {
        max-width: 85px;
        margin: 5rem 0 3rem 1rem;
        transform: rotate(-13.5deg);
    }
    
    .compass {
        max-width: 125px;
        /* margin: 5% 0 4% 2%; */
    }
    
    .camera {
        max-width: 150px;
        /* margin: 5% 0 4% 2%; */
    }
    
    .beacon {
        max-width: 250px;
        /* margin: -10% 0 -6% 2%; */
    }
    
    .flare {
        max-width: 350px;
        /* margin: -5% 0 -10% 2%; */
    }
    
    .heart {
        max-width: 140px;
    }
    
    .left-side {
        border: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 0 0 0;
    }
    
    .right-side {
        border: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 0 0 0;
    }
}