/* Footer.css */

.h1-left-footer {
  font-size: 2.4rem;
  font-weight: lighter;
  text-align: center;
  align-self: center;

}

.top-margin {
  margin-top: 2%;
}

.h1-middle-footer {
  font-size: 2.4rem;
  font-weight: lighter;
  text-align: center;
  align-self: center;

}

.h1-right-footer {
  font-size: 2.4rem;
  font-weight: lighter;
  text-align: center;
  align-self: center;

}


.footer {
  background-color: #ffa44f;
  margin-top: 5rem;
  max-width: 100vw;
}

.footer .sections {
  display: flex;
  /* padding-top: 4.5rem; */
  padding-bottom: 10rem;
  font-size: 2.8rem;
  justify-content: left;
  list-style-type: none;
}

.footer .subsections {
  justify-content: left;
  margin-top: 1.5rem;
  list-style-type: none;
  font-size: 1.4rem;
}

.footer li {
  margin-top: 1rem;
}

.footer .subsections li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1440px) {

  .h1-left-footer {
    font-size: 1.8rem;
    font-weight: lighter;
    padding: 0 0 0 10%;
  }
  
  .h1-right-footer {
    font-size: 1.8rem;
    font-weight: lighter;
    padding: 0 10% 0 0;
  }
  
  .h1-middle-footer {
    font-weight: lighter;
    font-size: 1.8rem;
  }

  .footer {
    background-color: #ffa44f;
    margin-top: 5rem;
    max-width: 100vw;
  }
  
  .footer .sections {
    display: flex;
    padding-top: 4.5rem;
    padding-bottom: 10rem;
    font-size: 2.0rem;
    list-style-type: none;
  }
  
  .footer .subsections {
    margin-top: 1.5rem;
    list-style-type: none;
    font-size: 1.2rem;
  }
  
  .footer li {
    margin-top: 1rem;
  }
  
  .footer .subsections li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}